@font-face{
	font-family: Open_Sans;
	src: url(OpenSans-Regular.ttf);
	font-weight: normal;
}

body {
    width: 100%;
	height: 100%;
	background-color: #e5e8ed;
}

header{
	background-color: #2c486b;
	background-image: -webkit-linear-gradient(top, #3d6189, #2c486b);
	height: 40px;
	border-bottom: solid 1px black;
    
	color: #cfe6ff;
	text-align: center;
	line-height: 40px;
	font-size: 18px;
	font-family: Open sans, sans-serif;
    
	text-shadow: 0px -1px 2px rgba(0, 0, 0, 1);
}

.menu{
    padding-top:3%;
    padding-bottom:1px;
}

.menu ul{
    list-style-type:none;
    display: block;
    padding-left:0;
    margin:0 auto;
    width:160px;
}
    
.menu li{
    -webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-color: #fff;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,1,.25);
	-moz-box-shadow: 0 1px 3px rgba(0,0,1,.25);
	box-shadow: 0 1px 3px rgba(0,0,1,.25); 
    
    display: inline-block;
    padding:10px;
    margin-left:5px;
    margin-right:5px;

    font-family: Open sans, sans-serif;
	font-size: 18px;
	color: #a4a8ae;
}

.create{
    width:75%;
    margin: 15px auto;
}

.create label{
    font-size: 14px;
	font-family: Open sans, sans-serif;
    color: #a4a8ae;
    font-weight:bold;
}

.create input{
    width:5%;
    height:30px;
    border:none;
    -webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-color: #fff;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,1,.25);
	-moz-box-shadow: 0 1px 3px rgba(0,0,1,.25);
	box-shadow: 0 1px 3px rgba(0,0,1,.25); 
    
    font-size: 14px;
	font-family: Open sans, sans-serif;
    color: #a4a8ae;
    font-weight:bold;
    padding-left:7px;
}

.numplayers{
    width:20% !important;
}

.button{
	height: 45px;
    margin: 10px auto;
    border:0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #e0e0e0;
	-webkit-box-shadow: 1px 2px #000002, inset 1px 2px 2px rgba(255,255,255,.18);
	-moz-box-shadow: 1px 2px #000002, inset 1px 2px 2px rgba(255,255,255,.18);
	box-shadow: 1px 2px #000002, inset 1px 2px 2px rgba(255,255,255,.18);
	background-image: -webkit-linear-gradient(bottom, #2c486b, #3d6189);
	background-image: -moz-linear-gradient(bottom, #2c486b, #3d6189);
	background-image: -o-linear-gradient(bottom, #2c486b, #3d6189);
	background-image: -ms-linear-gradient(bottom, #2c486b, #3d6189);
	background-image: linear-gradient(to top, #2c486b, #3d6189);
    
    font-family: Open sans, sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #e0e0e0;
	text-shadow: 0 -2px #000;
    text-align:center;
    line-height:45px;
}

