@font-face{
	font-family: Open_Sans;
	src: url(OpenSans-Regular.ttf);
	font-weight: normal;
}


body {
    width: 100%;
	height: 100%;
	background-color: #e5e8ed;
    margin:0;
    padding:0;
}

header{
	background-color: #2c486b;
	background-image: -webkit-linear-gradient(top, #3d6189, #2c486b);
	height: 40px;
	border-bottom: solid 1px black;
    
	color: #cfe6ff;
	text-align: center;
	line-height: 40px;
	font-size: 18px;
	font-family: Open sans, sans-serif;
    
	text-shadow: 0px -1px 2px rgba(0, 0, 0, 1);
}

.menu{
    padding-top:3%;
    padding-bottom:1px;
}

.menu ul{
    list-style-type:none;
    display: block;
    padding-left:0;
    margin:0 auto;
    width:250px;
}
    
.menu li{
    -webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-color: #fff;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,1,.25);
	-moz-box-shadow: 0 1px 3px rgba(0,0,1,.25);
	box-shadow: 0 1px 3px rgba(0,0,1,.25); 
    
    display: inline-block;
    padding:10px;
    margin-left:5px;
    margin-right:5px;

    font-family: Open sans, sans-serif;
	font-size: 18px;
	color: #a4a8ae;
}

.tournament_starts{
    font-family: Open sans, sans-serif;
	font-size: 14px;
	color: #a4a8ae;
    text-align:center;
}

.tournament_num{
    font-family: Open sans, sans-serif;
	font-size: 14px;
	color: #a4a8ae;
    text-align:center;
}


.list{
    
}

.list ul{
    list-style-type:none;
    padding:0;
}

.list li{
    width:100%;
    height:75px;
    margin:0 auto;
    background-color: #444;
	-webkit-box-shadow: 0 2px rgba(255,255,255,.75), inset 0 -2px rgba(60,95,134,.1);
	-moz-box-shadow: 0 2px rgba(255,255,255,.75), inset 0 -2px rgba(60,95,134,.1);
	box-shadow: 0 2px rgba(255,255,255,.75), inset 0 -2px rgba(60,95,134,.1);
	background-image: -webkit-linear-gradient(bottom, #e5e8ed, #fff);
	background-image: -moz-linear-gradient(bottom, #e5e8ed, #fff);
	background-image: -o-linear-gradient(bottom, #e5e8ed, #fff);
	background-image: -ms-linear-gradient(bottom, #e5e8ed, #fff);
    background-image: linear-gradient(to top, #e5e8ed, #fff);
}

.pic{
    float:left;
    width:30%;
    height:100%;
}
.picture{
    width:44px;
    height:44px;
    background-image:url(../img/noimage.png);
    background-repeat:no-repeat;
    margin-left:25%;
    margin-right:25%;
    margin-top:15%;
    margin-bottom:15%;
}

.name{
    float:right;
    width:70%;
    height:100%;
    font-size:18pt;
    font-weight:bold;
    line-height:70px;
}

